[submodule "edk2"]
	path = edk2
	url = https://github.com/coconut-svsm/edk2.git
	branch = svsm
[submodule "linux"]
	path = linux
	url = https://github.com/Sabanic-P/linux.git
	branch = svsm-vmpl-guest
[submodule "svsm"]
	path = svsm
	url = git@github.com:TUM-DSE/svsm.git
